<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site PERL</title>

    <link rel="stylesheet" href="asset/css/styleExp.css">

</head>
<body>
    
    <header>

        <nav>
            <nav>
                <button class="back-button">← Retour</button>
            </nav>
        </nav>

    </header>


    <div class="carousel">

        <div class="list">

            <div class="item" style="background-image: url(asset/images/Site_perl/Page_fil_actualités.png);">
            </div>

            <div class="item" style="background-image: url(asset/images/Site_perl/Page_type_contenu_texte.png);">

            </div>

            <div class="item" style="background-image: url(asset/images/Site_perl/Page_Formulaire_collège.png);">

            </div>

            <div class="item" style="background-image: url(asset/images/Site_perl/Page_formulaire_LGT.png);">

            </div>

            <div class="item" style="background-image: url(asset/images/Site_perl/Page_formulaire_LP.png);">

            </div>

            <div class="item" style="background-image: url(asset/images/Site_perl/Page_formulaire_contact.png);">

            </div>

           

        </div>

        <!--next prev button-->
        <div class="arrows">
            <button class="prev"><</button>
            <button class="next">></button>
        </div>


        <!-- time running -->
        <div class="timeRunning"></div>

    </div>

    <footer>
      </footer>

    <script src="asset/javascript/app.js"></script>
</body>
</html>